<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="styles.css" />
<link rel="stylesheet" type="text/css" href="../static/styles.css" />
<script>
	function listenProgress() {
		eventSource = new EventSource('/progress');
		eventSource.onmessage = function(e) {
			var json = JSON.parse(e.data);
			document.getElementById('progressMeter').max = json.max;
			document.getElementById('progressMeter').value = json.progress;
			
		};
	}
</script>
<title>Spring Boot RediSearch Example</title>
</head>
<body onload="listenProgress()">
	<div class="toprow">
		<section class="box header">
			<h2>Spring Boot RediSearch Example</h2>
		</section>
	</div>
	<div class="leftcol">
		<section class="box left">
			Populate data <br> <sub>Generate dummy data and populate
				Redis database</sub>
			<form th:action="@{/populateData}" method="POST">
				<select name="numentries">
					<option selected="true" value="0" disabled>Choose...</option>
					<option value="10000">10,000 entries</option>
					<option value="100000">100,000 entries</option>
					<option value="200000">200,000 entries</option>
					<option value="500000">500,000 entries</option>
					<option value="1000000">1,000,000 entries</option>
				</select>
				<button name="userAction" value="Populate Data">Populate
					data</button>
			</form>
			<meter id="progressMeter" min="0" max="100"></meter>
		</section>
		<section class="box left">
			<div>
				Search by CIF <br> <sub>Tag search provides highest
					performance complete match</sub>
				<form th:action="@{/searchByCif}" method="POST">
					<input name="cif" cols="10" rows="1" th:value="${cif}"></input> <input type="submit"
						value="Search" />
				</form>
			</div>
			<br>
			<div>
				Full-text search <br> <sub>Full-text search supports
					wildcard (*) and Levenshtein distance query, e.g. %name% or %%name%%</sub>
				<form th:action="@{/searchFullText}" method="POST">
					<input name="fullText" cols="10" rows="1" th:value="${fullText}"></input> <input type="submit"
						value="Search" />
				</form>
			</div>
			<br>
			<div>
				Search by last name <br> <sub>Full-text search supports
					wildcard (*) and Levenshtein distance query, e.g. %name% or %%name%%</sub>
				<form th:action="@{/searchLastNameOnly}" method="POST">
					<input name="name" cols="10" rows="1" th:value="${name}"></input> <input
						type="submit" value="Search" />
				</form>
			</div>
			<br>
			<div>
				Search by card number <br> <sub>Tag search provides highest
					performance complete match</sub>
				<form th:action="@{/searchCardNumber}" method="POST">
					<input name="number" cols="10" rows="1" th:value="${number}"></input> <input
						type="submit" value="Search" />
				</form>
			</div>
			<br>
			<div>
				Search by registration date <br> <sub>Numeric search allows range searches</sub>
				<form th:action="@{/searchRegistrationDate}" method="POST">
					From
					<input name="regStart" cols="6" rows="1" th:value="${regStart}"></input> 
					to
					<input name="regEnd" cols="6" rows="1" th:value="${regEnd}"></input> 
					<input type="submit" value="Search" />
				</form>
			</div>
		</section>
	</div>
	<div class="rightcol">
		<section class="left">
			Query results
			<p style="white-space: pre;" th:utext="${queryResults}"></p>
		</section>
	</div>
</body>
</html>