<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.zz.demoworkflow.simple.mapper.TaskInstanceMapper">
  <resultMap id="BaseResultMap" type="com.www.zz.demoworkflow.simple.domain.entity.TaskInstanceEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="instance_id" jdbcType="INTEGER" property="instanceId" />
    <result column="node_id" jdbcType="INTEGER" property="nodeId" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="assignee_id" jdbcType="INTEGER" property="assigneeId" />
    <result column="status" jdbcType="OTHER" property="status" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="due_time" jdbcType="TIMESTAMP" property="dueTime" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="form_data" jdbcType="OTHER" property="formData" />
    <result column="operation_by" jdbcType="INTEGER" property="operationBy" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, instance_id, node_id, task_name, assignee_id, `status`, start_time, end_time, 
    due_time, comments, form_data, operation_by, created_at, updated_at
  </sql>

</mapper>