<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.zz.demoworkflow.simple.mapper.WorkflowInstanceMapper">
  <resultMap id="BaseResultMap" type="com.www.zz.demoworkflow.simple.domain.entity.WorkflowInstanceEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="workflow_id" jdbcType="INTEGER" property="workflowId" />
    <result column="business_key" jdbcType="VARCHAR" property="businessKey" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="status" jdbcType="OTHER" property="status" />
    <result column="starter_id" jdbcType="INTEGER" property="starterId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="current_node_id" jdbcType="INTEGER" property="currentNodeId" />
    <result column="variables" jdbcType="OTHER" property="variables" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, workflow_id, business_key, business_type, `status`, starter_id, start_time, end_time, 
    current_node_id, `variables`, created_at, updated_at
  </sql>

</mapper>