<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.zz.demoworkflow.simple.mapper.WorkflowOperationLogMapper">
  <resultMap id="BaseResultMap" type="com.www.zz.demoworkflow.simple.domain.entity.WorkflowOperationLogEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="instance_id" jdbcType="INTEGER" property="instanceId" />
    <result column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="operation_type" jdbcType="VARCHAR" property="operationType" />
    <result column="operation_desc" jdbcType="VARCHAR" property="operationDesc" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="operation_time" jdbcType="TIMESTAMP" property="operationTime" />
    <result column="operation_result" jdbcType="VARCHAR" property="operationResult" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="details" jdbcType="OTHER" property="details" />
  </resultMap>

  <sql id="Base_Column_List">
    id, instance_id, task_id, operation_type, operation_desc, operator_id, operation_time, 
    operation_result, comments, details
  </sql>


</mapper>