<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.multiple.datasource.mybatis.mapper.Test1Mapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.www.multiple.datasource.mybatis.model.Test">
        <result column="test2_id" property="test2Id" />
        <result column="name" property="name" />
        <result column="user_id" property="userId" />
    </resultMap>
    <insert id="insert">
        insert into test.test2(test2_id, name, user_id) VALUES (REPLACE(uuid(),'-',''),'hh','sas')
    </insert>
    <select id="list" resultType="com.www.multiple.datasource.mybatis.model.Test">
        select test2_id, name, user_id
        from test.test2
    </select>


</mapper>